@font-face {
    font-family: "JockeyOne";
    src: url("../fonts/JockeyOne-Regular.ttf");
  }

body{
    font-family: "JockeyOne";
    background-color: rgb(33, 6, 49);
}

.navbar{
    background-color: rgb(20, 3, 20);
}

.card{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}

.thumbs-icon{
    font-size: 60px;
}